<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
            <nav class="navbar navbar-nverse navbar-fixed-top" role="navigation">
                <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FSVentas</a>
                </div>
    
                <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li class="active"><a href="#">Enlace</a></li>
                        <li><a href="#">Enlace #2</a></li>
                       
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Registros <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuarios", "Create", "Usuarios")
                                <li>@Html.ActionLink("Tipo de Usuarios", "Crear", "TipoUsuarios")
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Articulos", "Create", "Articulos")
                                <li>@Html.ActionLink("Categorias", "Crear", "Categorias")
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Proveedores", "Crear", "Proveedores")
                                <li>@Html.ActionLink("Clientes", "Crear", "Clientes")
                                <li class="divider"></li>  
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Pais", "Create", "Pais")
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Provincias", "Create", "Provincias")
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Ciudades", "Create", "Ciudades")
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Municipios", "Create", "Municipios")
</ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <button type="submit" class="btn btn-default">Buscar</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Enlace #3</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Menú #2 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Acción #1</a></li>
                                <li><a href="#">Acción #2</a></li>
                                <li><a href="#">Acción #3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Acción #4</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
